* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

main {
  width: 100vw;
  font-size: 1.2vw;
  overflow-x: hidden;
  height: 100%;
}
@media only screen and (max-width: 320px) {
  main {
    width: 100vw;
    font-size: 4vw;
  }
}

main > header {
  border-bottom: 1px solid;
  border: 1px solid #d6dfe0;
  height: 23vh;
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #ffffff;
  /* overflow-x: hidden; */
}

main > header > nav {
}

main > header > nav > .nav-top {
  display: flex;
  gap: 3vw;
  width: 95vw;
  margin: 0 auto;
  height: 12vh;
  align-items: center;
}

main > header > nav > .nav-top > .logo {
}

main > header > nav > .nav-top > .logo > .logo-svg {
  fill: #003035;
}

main > header > nav > .nav-top > .logo > .logo-svg > .svg-logo {
}

main > header > nav > .nav-top > .logo > .logo-svg > .svg-logo > .logo-path {
}

main > header > nav > .nav-top > .car {
  text-decoration: none;
  color: #002f34;
}

main > header > nav > .nav-top > .car > .car-span {
  display: flex;
  align-items: center;
  column-gap: 1vh;
}

main > header > nav > .nav-top > .car > .car-span:hover {
  color: #3a77ff;
  fill: #3a77ff;
  /* background-image: linear-gradient(#e0e0e0, #4f4f9d); */
}

main > header > nav > .nav-top > .car > .car-span > .svg {
  background-image: linear-gradient(#e0e0e0, #ffffff);
  padding: 1.25vh 0.5vw;
  border-radius: 2.5vw;
  width: auto;
}

/* main > header > nav > .nav-top > .car > .car-span > .svg :hover {
  background-image: linear-gradient(#e0e0e0, #4f4f9d);
} */

main
  > header
  > nav
  > .nav-top
  > .car
  > .car-span
  > .svg
  > .svg-car
  > .c-path-1 {
}

main
  > header
  > nav
  > .nav-top
  > .car
  > .car-span
  > .svg
  > .svg-car
  > .c-path-2 {
}

main > header > nav > .nav-top > .car > .car-span > span {
  font-weight: bold;
  /* font-size: 1.17vw; */
}

main > header > nav > .nav-top > .prop {
  text-decoration: none;
  color: #002f34;
}

main > header > nav > .nav-top > .prop > .prop-span {
  display: flex;
  align-items: center;
  column-gap: 1vh;
}
main > header > nav > .nav-top > .prop > .prop-span:hover {
  color: #3a77ff;
  fill: #3a77ff;
}

main > header > nav > .nav-top > .prop > .prop-span > .prop-svg {
  background-image: linear-gradient(#e0e0e0, #ffffff);
  padding: 1.25vh 0.5vw;
  border-radius: 2.5vw;
  width: auto;
}

main > header > nav > .nav-top > .prop > .prop-span > .prop-svg > .svg-prop {
  background-image: linear-gradient(#e0e0e0, #ffffff);
}

main
  > header
  > nav
  > .nav-top
  > .prop
  > .prop-span
  > .prop-svg
  > .svg-prop
  > .path-prop {
}

main
  > header
  > nav
  > .nav-top
  > .prop
  > .prop-span
  > .prop-svg
  > .svg-prop
  > .path-prop2
  > {
}

main > header > nav > .nav-top > .prop > .prop-span > span {
  font-weight: bold;
  /* font-size: 1.17vw; */
}

.nav-btm {
  width: 95vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-btm > .location {
  display: flex;
  align-items: center;
  border: 1px solid #d6dfe0;
  height: 8vh;
  border-radius: 0.25vw;
}

.nav-btm > .location > .loc {
  display: flex;
  align-items: center;
  width: 21vw;
}

.nav-btm > .location > .loc > .loc-img {
  padding-left: 0.5vw;
}

.nav-btm > .location > .loc > .loc-img > .gps {
}

.nav-btm > .location > .loc > .loc-img > .gps > .pathGps {
}

.nav-btm > .location > .loc > .loc-inp:focus {
  border: 1px solid #3a77ff;
  /* overflow-y: hidden; */
}

.nav-btm > .location > .loc > .loc-inp #location-compound {
  border: none;
  outline: none;
  height: 30px;
  font-size: 1.1em;
  padding-left: 1vw;
}

.nav-btm > .location > .loc > .loc-inp #location-compound:focus {
  border: 1px solid #3a77ff;
  height: 8vh;
  width: 22vw;
}

.nav-btm > .location > .arrow {
  transition: transform 0.5s;
  padding-right: 0.5vw;
}

.nav-btm > .location > .arrow:hover {
  transform: rotate(180deg);
}

.nav-btm > .location > .arrow > .Dropdown {
}

.nav-btm > .location > .arrow > .Dropdown > .pathdrop {
}

.nav-btm > .sear {
  display: flex;
  align-items: center;
  border: 1px solid #d6dfe0;
  width: 57vw;
  height: 8.5vh;
  border-radius: 5px;
  overflow-y: hidden;
}

.nav-btm > .sear > #search {
  border-radius: 3px;
  width: 57vw;
  height: 8vh;
  font-size: 1.1em;
  padding-left: 1vw;
  border: 1px solid #d6dfe0;
  outline: none;
}

.nav-btm > .sear > #search:focus {
  border-color: #3a77ff;
}

.nav-btm > .sear > .s-btn {
}

.nav-btm > .sear > .s-btn > button {
  height: 8vh;
  background-color: #003035;
  fill: #ffffff;
  width: 3.5vw;
}

.nav-btm > .sear > .s-btn > button > .mag {
}

.nav-btm > .sear > .s-btn > button > .mag > .pathmag {
}

.nav-btm > .login {
  border-bottom: 2px solid #002f34;
}

.nav-btm > .login:hover {
  border: none;
}

.nav-btm > .login > a {
  text-decoration: none;
  color: #002f34;
  font-weight: 700;
  font-size: 1.1em;
}

.nav-btm > .sell {
  background-image: url(./img/seal-bnj.svg);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 105px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-btm > .sell > .sell-a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5vw;
  text-decoration: none;
  color: #002f34;
  font-weight: 700;
  font-size: 0.85em;
}

.nav-btm > .sell > .sell-a > img {
}

.nav-btm > .sell > .sell-a > span {
}
/* _____________________________ header ______________________END_____________________________________________ */

/* <!-- section-1-start --> */
.sec-1 {
  margin-top: 23vh;
  /* overflow-x: hidden; */
  padding-top: 1vh;
}

.sec-1 > .section-1 {
  margin-top: 1vh;
  width: 95vw;
  margin: 0 auto;
  display: flex;
  gap: 5vw;
  overflow-x: hidden;
}

.sec-1 > .section-1 > .select {
  overflow-x: hidden;
}

.sec-1 > .section-1 > .select > select {
  overflow-x: hidden;
  width: 12vw;
  border: none;
  font-size: 1.25vw;
  outline: none;
  font-weight: 700;
  color: #002f34;
}

.sec-1 > .section-1 > .select > select > a {
}

.sec-1 > .section-1 > .select > select > a > option {
  overflow-x: hidden;
}

.sec-1 > .section-1 > .option {
  overflow-x: hidden;
  display: flex;
  gap: 1vw;
}

.sec-1 > .section-1 > .option > a {
  text-decoration: none;
  color: #002f34;
  font-size: 1.09vw;
}

.sec-1 > .section-1 > .option > a:hover {
  color: #007fc4;
}
/* <!-- section-1-ENDed --> */

/* section 2 start */
.sec-2 {
  /* margin-top: 2vh; */
}

.sec-2 > h2 {
  width: 95vw;
  margin: 0 auto;
  margin-top: 3vh;
  color: #002f34;
}

.sec-2 > .section-2 {
  /* margin-top: 23vh; */
  width: 95vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: start;
  /* justify-content: center; */
  gap: 3vh 3vw;
}

.sec-2 > .section-2 > .card {
  text-decoration: none;
  color: #002f34;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* height: 100%; */
  /* border: 1px solid black; */
  align-content: center;
  height: 30vh;
}

.sec-2 > .section-2 > .card > .tit {
}

.sec-2 > .section-2 > .card > .tit > .img {
}

.sec-2 > .section-2 > .card > .tit > .img > img {
}

.sec-2 > .section-2 > .card > .tit > h4 {
  text-align: center;
  width: 7.5vw;
  padding: auto;
}

/* <!-- <section> 3--> */
.sec-3 {
  width: 100vw;
  margin: 0 auto;
  overflow: hidden;
}

.sec-3 > .section-3 {
  width: 95vw;
  margin: auto;
}

.sec-3 > .section-3 > .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2vh;
  padding-top: 2vh;
}

.sec-3 > .section-3 > .heading > h1 {
  color: #002f34;
}

.sec-3 > .section-3 > .heading > .vm {
  color: #3a77ff;
  fill: #3a77ff;
  text-decoration: none;
}

.sec-3 > .section-3 > .heading > .vm > span {
  font-weight: 700;
}

.sec-3 > .section-3 > .heading > .vm > ._2e0d1516 {
  font-weight: 700;
}

.sec-3 > .section-3 > .heading > .vm > ._2e0d1516 > .path {
}

.sec-3 > .section-3 > .card-sec {
  display: flex;
  column-gap: 4vh;
}

.sec-3 > .section-3 > .card-sec > .card {
  display: flex;
  flex-direction: column;
  border: 1px solid #dfe0e0;
  width: 22vw;
  text-decoration: none;
  border-radius: 2px;
  color: #002f34;
  fill: #002f34;
}

.sec-3 > .section-3 > .card-sec > .card > .img {
  display: flex;
  justify-content: center;
}

.sec-3 > .section-3 > .card-sec > .card > .img > img {
}

.sec-3 > .section-3 > .card-sec > .card > .c-dtl {
  display: flex;
  flex-direction: column;
  width: 20vw;
  margin: auto;
  gap: 1vh;
}

.sec-3 > .section-3 > .card-sec > .card > .c-dtl > .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sec-3 > .section-3 > .card-sec > .card > .c-dtl > .price > h2 {
}

.sec-3 > .section-3 > .card-sec > .card > .c-dtl > .price > .fa-heart {
}

.sec-3 > .section-3 > .card-sec > .card > .c-dtl > .p-dtls {
}

.sec-3 > .section-3 > .card-sec > .card > .c-dtl > .loc {
}

.sec-3 > .section-3 > .card-sec > .card > .c-dtl > .days {
}
/* <!-- </section> 3--> */

/* <!-- <section>4 --> */

/* <!-- </section>4 --> */

/* footer */
footer {
  margin-top: 5vh;
  background-color: #f7f9f9;
}

footer > .top-f {
  width: 90vw;
  /* margin: 05vh auto 0 auto; */
  display: flex;
  margin: auto;
}

footer > .top-f > .one {
  width: 26vw;
}

footer > .top-f > .one > img {
  width: 25vw;
}

footer > .top-f > .two {
  width: 30vw;
  margin: 0 auto;
  border-right: 2px solid #c6caca;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  align-content: center;
  justify-content: center;
  padding-right: 7vw;
  /* height: 20vh; */
  margin-top: 2vh;
  margin-bottom: 2vh;
}

footer > .top-f > .two > h1 {
  color: #003135;
}

footer > .top-f > .two > span {
  color: #003135;
}

footer > .top-f > .three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: ; */
  /* align-content: center; */
  /* width: 30vh; */
}

footer > .top-f > .three > h2 {
  color: #003135;
  font-size: 16px;
}

footer > .top-f > .three > .stores {
  display: flex;
  gap: 1vw;
}

footer > .top-f > .three > .stores > img {
  width: 10vw;
}

.btmf1 {
  background-color: #eaeeef;
  padding-top: 3vh;
  padding-bottom: 7vh;
}

.btmf1 a {
  text-decoration: none;
  font-size: 12px;
  color: #002f34;
}
.btm-f {
  width: 92vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.btm-f > .o1 {
  display: flex;
  flex-direction: column;
}

.btm-f > .o1 > h5 {
}

.btm-f > .o1 > a {
}

.btm-f > .t2 {
  display: flex;
  flex-direction: column;
}

.btm-f > .t2 > h5 {
}

.btm-f > .t2 > a {
}

.btm-f > .t3 {
  display: flex;
  flex-direction: column;
}

.btm-f > .t3 > h5 {
}

.btm-f > .t3 > a {
}

.btm-f > .f4 {
  display: flex;
  flex-direction: column;
}
.btm-f > .f4 > h5 {
}
.btm-f > .f4 > a {
}

.btm-f > .f5 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btm-f > .f5 > .f5-t {
}

.btm-f > .f5 > .f5-t > h5 {
}

.btm-f > .f5 > .f5-t > .f5-t-s {
  display: flex;
  gap: 1vw;
}

.btm-f > .f5 > .f5-t > .f5-t-s > i {
  border: 2px solid black;
  border-radius: 50%;
  padding: 0.25vw;
}

.btm-f > .f5 > .f5-t > .f5-t-s > .fa-twitter {
}

.btm-f > .f5 > .f5-t > .f5-t-s > .fa-facebook-f {
}

.btm-f > .f5 > .f5-t > .f5-t-s > .fa-play {
}

.btm-f > .f5 > .f5-t > .f5-t-s > .fa-instagram {
}

.btm-f > .f5 > .f5-b {
  display: flex;
  gap: 1vw;
}

.btm-f > .f5 > .f5-b > img {
  width: 6vw;
}

.copy {
  background-color: #003035;
  color: #ffffff;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.copy > p {
  padding-right: 3vw;
}

/* finally chapian laga k banai ha */